@import "tailwindcss";

:root {
  --label-gray: #4A4A4A;
  --dark-gray: #222222; /* bg-2 */
  --border-dark-gray: #333333; /* bg-2-border */
  --accent-green: #CCDE9C;
  --accent-blue: #5DD4F5;
  --darker-bg: #0D0D0D; /* transaction list label box bg */
  --card-bg-gradient: linear-gradient(135deg, #191919 0%, #0C0C0C 100%);
}

@theme inline {
  --color-label-gray: var(--label-gray);
  --color-dark-gray: var(--dark-gray);
  --color-border-dark-gray: var(--border-dark-gray);
  --color-accent-green: var(--accent-green);
  --color-accent-blue: var( --accent-blue);
  --color-darker-bg: var(--darker-bg);

  --background-image-card-bg-gradient: var(--card-bg-gradient);
}

body {
  font-size: 0.875rem; /* 14px */
  color: white;
  background-color: black;
}

button {
  cursor: pointer;
}