.navigation-menuitem {
  transition: background 0.25s linear, color 0.25s linear;
}

.navigation-menuitem:hover,
.selected-menuitem {
  background: var(--color-accent-green);
  color: black;
}

.navigation-menuitem:hover .activity-span,
.selected-menuitem .activity-span {
  color: var(--color-accent-green);
}

.navigation-menuitem:hover svg path,
.selected-menuitem svg path {
  stroke: var(--color-accent-green);
}